// Styles for terminal commands

.cmdline-img {
    float: left;
    margin-right: 6px;
    margin-top: 12px;
}

.cmdoutput-img {
    float: left;
    margin-right: 6px;
    margin-top: 4px;
}

.cmdoutput {
    padding: 8px;
    color: var(--primary-very-high);
    background: var(--hljs-bg);

    border: 5px solid var(--primary-low);
    border-left: 5px solid var(--primary-low);
    background-color: var(--blend-primary-secondary-5);
    

    overflow: auto;
    -moz-tab-size: 2;
    tab-size: 2;
    &.lang-markdown {
        white-space: pre-wrap;
    }
}
